<mat-card>
  <div class="header-container">
    <mat-icon class="header-icon">home</mat-icon>
    <mat-card-title class="component-title">Адрес регистрации</mat-card-title>
  </div>
  <mat-card-content>
    <form [formGroup]="form">
      <!-- Улица -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Улица *</mat-label>
        <input matInput formControlName="street" placeholder="Введите улицу">
        <mat-error *ngIf="form.get('street')?.hasError('required')">Обязательное поле.</mat-error>
        <mat-error *ngIf="form.get('street')?.hasError('minlength')">Минимум 2 символа.</mat-error>
        <mat-error *ngIf="form.get('street')?.hasError('maxlength')">Максимум 100 символов.</mat-error>
      </mat-form-field>

      <!-- Номер дома -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Номер дома *</mat-label>
        <input matInput formControlName="houseNumber" placeholder="Введите номер дома">
        <mat-error *ngIf="form.get('houseNumber')?.hasError('required')">Обязательное поле.</mat-error>
        <mat-error *ngIf="form.get('houseNumber')?.hasError('pattern')">Введите корректный номер.</mat-error>
      </mat-form-field>

      <!-- Город -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Город *</mat-label>
        <input matInput formControlName="city" placeholder="Введите город">
        <mat-error *ngIf="form.get('city')?.hasError('required')">Обязательное поле.</mat-error>
        <mat-error *ngIf="form.get('city')?.hasError('minlength')">Минимум 2 символа.</mat-error>
        <mat-error *ngIf="form.get('city')?.hasError('maxlength')">Максимум 50 символов.</mat-error>
      </mat-form-field>

      <!-- Почтовый индекс -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Почтовый индекс *</mat-label>
        <input matInput formControlName="postalCode" placeholder="Введите индекс">
        <mat-error *ngIf="form.get('postalCode')?.hasError('required')">Обязательное поле.</mat-error>
        <mat-error *ngIf="form.get('postalCode')?.hasError('pattern')">Должен содержать 5 цифр.</mat-error>
      </mat-form-field>

      <!-- Страна -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Страна *</mat-label>
        <input matInput formControlName="country" placeholder="Введите страну">
        <mat-error *ngIf="form.get('country')?.hasError('required')">Обязательное поле.</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
