<mat-card>
  <div class="header-container">
    <mat-icon class="header-icon">account_balance</mat-icon>
    <mat-card-title class="component-title">Банковские реквизиты</mat-card-title>
  </div>
  <mat-card-content>
    <form [formGroup]="form">
      <!-- Название банка -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Название банка *</mat-label>
        <input matInput formControlName="bankName" placeholder="Введите название банка">
        <mat-error *ngIf="form.get('bankName')?.hasError('required')">Обязательное поле.</mat-error>
      </mat-form-field>

      <!-- Номер счета -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Номер счета *</mat-label>
        <input matInput formControlName="accountNumber" placeholder="Введите номер счета">
        <mat-error *ngIf="form.get('accountNumber')?.hasError('required')">Обязательное поле.</mat-error>
        <mat-error *ngIf="form.get('accountNumber')?.hasError('pattern')">Номер должен содержать только цифры.</mat-error>
      </mat-form-field>

      <!-- BIC -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>BIC *</mat-label>
        <input matInput formControlName="bic" placeholder="Введите BIC">
        <mat-error *ngIf="form.get('bic')?.hasError('required')">Обязательное поле.</mat-error>
        <mat-error *ngIf="form.get('bic')?.hasError('pattern')">Некорректный формат BIC.</mat-error>
      </mat-form-field>

      <!-- IBAN -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>IBAN *</mat-label>
        <input matInput formControlName="iban" placeholder="Введите IBAN">
        <mat-error *ngIf="form.get('iban')?.hasError('required')">Обязательное поле.</mat-error>
        <mat-error *ngIf="form.get('iban')?.hasError('pattern')">Некорректный формат IBAN.</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
