<mat-card>
  <div class="header-container">
    <mat-icon class="header-icon">person</mat-icon>
    <mat-card-title class="client-data-title">Данные клиента</mat-card-title>
  </div>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="form-container">
        <!-- Имя -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Имя *</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error *ngIf="form.get('firstName')?.hasError('required')">
            Имя обязательно.
          </mat-error>
          <mat-error *ngIf="form.get('firstName')?.hasError('minlength')">
            Минимум 2 символа.
          </mat-error>
          <mat-error *ngIf="form.get('firstName')?.hasError('maxlength')">
            Максимум 50 символов.
          </mat-error>
        </mat-form-field>

        <!-- Фамилия -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Фамилия *</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error *ngIf="form.get('lastName')?.hasError('required')">
            Фамилия обязательна.
          </mat-error>
          <mat-error *ngIf="form.get('lastName')?.hasError('minlength')">
            Минимум 2 символа.
          </mat-error>
          <mat-error *ngIf="form.get('lastName')?.hasError('maxlength')">
            Максимум 50 символов.
          </mat-error>
        </mat-form-field>

        <!-- Отчество -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Отчество</mat-label>
          <input matInput formControlName="middleName" />
          <mat-error *ngIf="form.get('middleName')?.hasError('minlength')">
            Минимум 2 символа.
          </mat-error>
          <mat-error *ngIf="form.get('middleName')?.hasError('maxlength')">
            Максимум 50 символов.
          </mat-error>
        </mat-form-field>

        <!-- Пол -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Пол *</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="">Выберите пол</mat-option>
            <mat-option *ngFor="let g of genders" [value]="g">
              {{ g }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('gender')?.hasError('required')">
            Пол обязателен.
          </mat-error>
        </mat-form-field>

        <!-- Дата рождения -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Дата рождения *</mat-label>
          <input matInput type="date" formControlName="dateOfBirth" />
          <mat-error *ngIf="form.get('dateOfBirth')?.hasError('required')">
            Дата рождения обязательна.
          </mat-error>
          <mat-error *ngIf="form.get('dateOfBirth')?.hasError('minimumAge')">
            Возраст должен быть не менее {{
            form.get('dateOfBirth')?.errors?.['minimumAge'].requiredAge }} лет.
          </mat-error>
          <mat-error *ngIf="form.get('dateOfBirth')?.hasError('invalidDate')">
            Неверная дата.
          </mat-error>
        </mat-form-field>

        <!-- Телефон -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Телефон *</mat-label>
          <input matInput type="tel" formControlName="phone" />
          <mat-error *ngIf="form.get('phone')?.hasError('required')">
            Телефон обязателен.
          </mat-error>
          <mat-error *ngIf="form.get('phone')?.hasError('phoneFormat')">
            Неверный формат номера телефона.
          </mat-error>
        </mat-form-field>

        <!-- Паспорт -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Паспорт *</mat-label>
          <input
            matInput
            formControlName="passport"
            placeholder="AB 567890"
          />
          <mat-error *ngIf="form.get('passport')?.hasError('required')">
            Паспорт обязателен.
          </mat-error>
          <mat-error *ngIf="form.get('passport')?.hasError('passportInvalid')">
            Неверный формат паспорта (требуется 2 буквы и 6 цифр).
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
