<mat-card>
  <div class="header-container">
    <mat-icon class="header-icon">description</mat-icon>
    <mat-card-title class="component-title">Дополнительные документы</mat-card-title>
  </div>
  <mat-card-content>
    <div *ngIf="form.length === 0">
      <p>Дополнительные документы не добавлены.</p>
    </div>
    <div *ngFor="let doc of form.controls; let i = index">
      <mat-card class="document-card">
        <mat-card-content>
          <form [formGroup]="doc">
            <!-- Тип документа -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Тип документа *</mat-label>
              <mat-select formControlName="docType">
                <mat-option value="">Выберите тип документа</mat-option>
                <mat-option *ngFor="let type of documentTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="doc.get('docType')?.hasError('required')">
                Обязательное поле.
              </mat-error>
            </mat-form-field>

            <!-- Номер документа -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Номер документа *</mat-label>
              <input matInput formControlName="docNumber" placeholder="Введите номер документа">
              <mat-error *ngIf="doc.get('docNumber')?.hasError('required')">
                Обязательное поле.
              </mat-error>
              <mat-error *ngIf="doc.get('docNumber')?.hasError('pattern')">
                Номер должен содержать только цифры.
              </mat-error>
              <mat-error *ngIf="doc.hasError('docNumberLength')">
                Длина должна быть {{ doc.getError('docNumberLength').requiredLength }} цифр, а введено {{ doc.getError('docNumberLength').actualLength }}.
              </mat-error>
            </mat-form-field>

            <!-- Дата выдачи -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Дата выдачи *</mat-label>
              <input matInput type="date" formControlName="issueDate">
              <mat-error *ngIf="doc.get('issueDate')?.hasError('required')">
                Обязательное поле.
              </mat-error>
            </mat-form-field>
          </form>
          <button mat-icon-button color="warn" (click)="removeDocument(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <button mat-raised-button color="primary" (click)="addDocument()">
      Добавить документ
    </button>
  </mat-card-content>
</mat-card>

