<mat-card>
  <div class="header-container">
    <mat-icon class="header-icon">description</mat-icon>
    <mat-card-title class="component-title">Дополнительные документы</mat-card-title>
  </div>
  <mat-card-content>
    <div *ngFor="let doc of form.controls; let i = index">
      <mat-card class="document-card">
        <mat-card-content>
          <form [formGroup]="doc">
            <!-- Название документа -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Название документа *</mat-label>
              <input matInput formControlName="docName" placeholder="Введите название документа">
              <mat-error *ngIf="doc.get('docName')?.hasError('required')">Обязательное поле.</mat-error>
              <mat-error *ngIf="doc.get('docName')?.hasError('minlength')">Минимум 2 символа.</mat-error>
            </mat-form-field>
            <!-- Номер документа -->
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Номер документа *</mat-label>
              <input matInput formControlName="docNumber" placeholder="Введите номер документа">
              <mat-error *ngIf="doc.get('docNumber')?.hasError('required')">Обязательное поле.</mat-error>
              <mat-error *ngIf="doc.get('docNumber')?.hasError('minlength')">Минимум 2 символа.</mat-error>
            </mat-form-field>
          </form>
          <button mat-icon-button color="warn" (click)="removeDocument(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <button mat-raised-button color="primary" (click)="addDocument()">
      Добавить документ
    </button>
  </mat-card-content>
</mat-card>
